.links {
  word-spacing: 20px
}

.img {
  max-width: 100%;
  padding-bottom: 20px;
}

.scale-work {
  max-width: 80%;
  padding-top: 15px;
  margin: auto;
}

.scale {
  width: 70%;
}

.index-logo{
  width: 70%;
  margin-top: 40%;
}

.fixed-left {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.fixed-right {
  width: 90%;
  margin: 0 5%;
}

.main-link {
  text-align: center;
  padding-top: 200px;
  color: white;
}

.main-nav {
  width: 50%;
  height: 33vh;
  text-align: center;
  float: left;
}

.tappist {
  width: 50%;
  height: 33vh;
  text-align: center;
  float: left;
  background-image: url('../images/tappist.png');
  background-size: cover;
  background-position: center center;
}

.waystone {
  width: 50%;
  height: 33vh;
  text-align: center;
  float: left;
  background-image: url('../images/waystone.jpg');
  background-size: cover;
  background-position: center center;
}

.branding {
  width: 50%;
  height: 33vh;
  text-align: center;
  float: left;
  background-image: url('../images/homebrewing.jpg');
  background-size: cover;
  background-position: center center;
}

.marketing {
  width: 50%;
  height: 33vh;
  text-align: center;
  float: left;
  background-image: url('../images/marketing.jpg');
  background-size: cover;
  background-position: center center;
}

.more {
  width: 50%;
  height: 33vh;
  text-align: center;
  float: left;
  background-image: url('../images/more.jpg');
  background-size: cover;
  background-position: center center;
}

.tappist:hover > .overlay {
    position: absolute;
    top: 0;
    width:100%;
    height:100%;
    left: 0;
    background-color:#000;
    opacity:0.5;
    z-index: 100;
    display: block;
}

.info {
  display: none;
  position: absolute;
  top: 100px;
  left: 0;
  text-align: center;
}

.background-home {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;
  text-align: center;
  display: fixed;
}

.header {
  background-image: url('../images/me.jpg');
  background-size: cover;
  background-position: center center;
  height: 45vh;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.header-tap {
  background-image: url('../images/tappist.jpg');
  background-size: cover;
  background-position: center center;
  height: 25vh;
  margin-top: 10px;
  text-align: center;
}

.header-waystone {
  background-image: url('../images/waystone-header.jpg');
  background-size: cover;
  background-position: center center;
  height: 25vh;
  margin-top: 10px;
  text-align: center;
}

.bold {
  font-weight: 700;
}


@media (min-width: 768px) {
  .fixed-left {
    position: fixed;
    width: 18%;
    text-align: center;
    margin-left: -2%;
  }

  .fixed-right {
    width: 70%;
    margin-left: 30%;
  }

  .index-logo {
    width: 50%;
    margin-top: 20%;
  }

  .scale-work {
  height: 80%;
  padding-top: 15px;
  }

  .background-home {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;
  text-align: center;
  display: fixed;
  }  

  .scale {
  width: 90%;
  }
  
  .img {
  max-width: 100%;
  padding-bottom: 20px;
  }
}




article {
  padding-top: 50px;
}

article p {
  line-height: 1.8em;
}

p {
  text-align: left;
  font-size: 16pt;
}



